{
    "exec-opts": ["native.cgroupdriver=systemd"],
    "log-driver": "json-file",
    "log-opts": {
        "max-size": "{{ docker_log_max_size }}",
        "labels-regex": "^.+"
    },
{% if docker_version is version('23.0.0', '>=', version_type='semver') %}
    "data-root": "{{ docker_local_storage }}",
{% else %}
    "graph": "{{ docker_local_storage }}",
{% endif %}
    "storage-driver": "overlay2",
    "icc": false,
    "no-new-privileges": true,
    "bip": "{{ docker_network_bip }}"
}